#.github/workflows/basic.yaml
name: My First CI/CD 
on:
  push:
    branches: [ master ]

jobs:
  basic_job:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Setup actions.
        uses: actions/checkout@v2

      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Check lint        
        if: always()        
        run: ./gradlew lint
        
      - name: Run Unit Tests
        if: always()        
        run: ./gradlew testDebugUnitTest
        
      - name: Generate AAR and APK files
        if: always()
        run: ./gradlew assembleDebug

      - name: Upload AAR files
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: artifacts.zip
          path: |
            app/build/outputs/apk/debug/app-debug.apk
            dog_network/build/outputs/aar
            
      - name: CodeAnalysis via  detekt
        run: ./gradlew detekt

      - name: Upload detekt results
        uses: actions/upload-artifact@v2
        with:
          name: detekt_results
          path:app/build/reports/detekt
            
      - name: CodeAnalysis via  checkstyle
        run: ./gradlew checkstyle

      - name: Upload checkstyle results
        uses: actions/upload-artifact@v2
        with:
          name: checkstyle_results
          path: app/build/reports/checkstyle      
